::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

input[type="radio"]:checked + .category-option {
    box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25);
}

.category-option {
    color: white;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}